**/ckpt
**/wandb
**/results
**/.ipynb_checkpoints/
**/__pycache__/
RawData/


mask2former/modeling/pixel_decoder/ops/build
mask2former/modeling/pixel_decoder/ops/dist
mask2former/modeling/pixel_decoder/ops/MultiScaleDeformableAttention.egg-info
detectron2_temp/
